.modal-btn {
  @include font(16px, 700, 30px);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  transition: color var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  color: #188ce8;
}
